*{
    margin: 0;
    font-family: Arial;
    text-align: center;
}

header{
    background-color: #69239e;
}

h1{
    padding: 20px;
    color: #ffffff;
}

nav{
    background-color: #9400d3;
    padding: 20px;
}

a{
    text-decoration: 0;
    color: #ffffff;
    padding: 10px;
    font-size: 20px;
}

a:hover{
    color: #a033a9;
    background-color: #b866be;
    border-radius: 10px;
}